#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Main Top */
.main-top{
    display: flex;
    flex-direction: column;
    width: 1400px;
    background-color: lightcyan;
}

.main-top-title{
    margin-top: 30px;
    font-size: 32px;
    font-weight: 500;
}

.main-top-compare{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-top-compare-left{
    width: 650px;
    height: 300px;
}

.main-top-compare-left-title{
    width: 250px;
    background-color: white;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.main-top-compare-left-input{
    border: none;
    outline: none;

    width: 650px;
    height: 300px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main-top-compare-left-input::placeholder{
    font-size: 18px;
    color: #ccc;
    text-align: center;
}

.main-top-compare-switch-button{
    margin-top: 56px;

    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;

}

.main-top-compare-right{
    width: 650px;
    height: 300px;
}

.main-top-compare-right-title{
    width: 250px;
    background-color: white;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 23px;
    font-weight: 500;
}

.main-top-compare-right-input{
    border: none;
    outline: none;

    width: 650px;
    height: 300px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main-top-compare-right-input::placeholder{
    font-size: 18px;
    color: #ccc;
    text-align: center;
}

.main-top-compare-result{
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.main-top-compare-result-button{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: white;
    border-radius: 15px;
}

.main-top-compare-result-save-button{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: white;
    border-radius: 15px;
}

/* Main Mid */
.main-mid{
    display: flex;
    flex-direction: column;
    width: 1400px;
    background-color: darkturquoise;
}

.main-mid-title{
    margin-top: 30px;
    font-size: 32px;
    font-weight: 500;
}

.main-mid-top3-board{

}

.main-mid-top3-board-tab{
    display: flex;
    justify-content: flex-end;
}

.main-mid-top3-board-tab-view-count-button{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

.main-mid-top3-board-tab-view-count-button:hover{
    
}

.main-mid-top3-board-tab-favorite-count-button{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

.main-mid-top3-board-tab-favorite-count-button:hover{
    background-color: aqua;
}

.main-mid-top3-board-tab-comment-count-button{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

.main-mid-top3-board-tab-comment-count-button:hover{
    
}

.main-mid-top3-board-list{
    width: 1400px;
    background-color: lightgray;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main-mid-top3-board-list-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-mid-top3-board-list-top-title{
    margin-left: 20px;

    font-size: 23px;
    font-weight: 500;
}

.main-mid-top3-board-list-top-plus-button{
    margin-top: 10px;
    margin-right: 10px;

    width: 30px;
    height: 30px;
    background-color: lightblue;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.main-mid-top3-board-list-bottom{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    width: 1400px;
}

/* Main Bottom */
.main-bottom{
    display: flex;
    flex-direction: column;
    width: 1400px;
    background-color: lightsteelblue;
}

.main-bottom-title{
    margin-top: 30px;
    font-size: 32px;
    font-weight: 500;
}

.main-bottom-top{
    display: flex;
    justify-content: flex-end;
}

.main-bottom-top-search{

}

.main-bottom-top-search-input{}

.main-bottom-top-search-icon-button{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: dodgerblue;
}

.main-bottom-top-create-button{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    background-color: dodgerblue;
}

.main-bottom-bottom{
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 1400px;
    background-color: cadetblue;
    border-radius: 15px;
}

.main-bottom-bottom-plus-button{
    float: right;
    


    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: dodgerblue;
}

.main-bottom-bottom-list-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
