.top3-board-list{
    margin-bottom: 30px;
    position: relative;

    width: 400px;
    height: 500px;
    border-radius: 15px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.3s;
    cursor: pointer;
}

.top3-board-list:hover{
    transform: scale(1.03);
}

.top3-board-list-top{
    display: flex;
    position: absolute;
    left: 20px;
    bottom: 120px;
    align-items: center;

}

.top3-board-list-top-profile{
    margin-right: 10px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;

    background-repeat: none;
    background-position: 50% 50%;
    background-size: 100% 100%;
    
}

.top3-board-list-top-box{

}

.top3-board-list-top-profile-nickname{
    font-size: 16px;
    font-weight: 600;
}

.top3-board-list-top-board-date{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.top3-board-list-mid{
    position: absolute;
    left: 20px;
    bottom: 60px;
}

.top3-board-list-mid-title{
    font-size: 18px;
    font-weight: 600;
}

.top3-board-list-mid-contents{
    font-size: 16px;
}

.top3-board-list-bottom{
    display: flex;
    position: absolute;
    left: 20px;
    bottom: 30px;
}

.top3-board-list-bottom-comment{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.top3-board-list-bottom-favorite{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 10px;
}

.top3-board-list-bottom-view{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}