#chatroom-wrapper {
  position: relative;

  width: 1900px;
  height: 200px;
  background-color: lightblue;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
  cursor: pointer;

  display: flex;
  align-items: center;
  
  flex-direction: row;

  gap: 20px;

}

.chatroom-left-box {
  display: flex;
  
  width: 220px;
  height: 200px;
}

.chatroom-image-url {
  margin: 15px 20px 15px 20px;

  background-color: rgba(255,255,255,1);
  background-size: 100% 100%;
  background-position: 50% 50%;

  width: 170px;
  height: 170px;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.chatroom-middle-box {
  display: flex;

  width: 1200px;
}

.chatroom-middle-text {
  display: flex;

  font-size: 32px;
  font-weight: 600;

  justify-content: center;
  align-items: center;

}

.chatroom-right-boxv {
}