#board-popup-wrapper {
    display: flex;
  
    flex-direction: column;
  
    width: 480px;
    height: 300px;
  
    gap: 15px;
  
  }
  
  .board-popup-top {
    width: 480px;
    height: 70px;
  
    background-color: rgba(0,0,0,0.1);
  }
  
  .board-popup-bottom {
    display: flex;
    flex-direction: column;
  }
  
  .board-popup-text {
    display: flex;
  
    font-size: 20px;
    font-weight: 600;
  
    justify-content: center;
    align-items: center;
  
    text-align: center;
  }